<div class="container">
	<div class="row">
		<div class="col-6 offset-3">
			<label for="" class="col-12 h1 my-5 text-center">Hospital List </label>
		</div>
		<table class="table table-hover ">
			<thead>
				<tr class="text-center">
					<td>Name Hospital</td>
					<td>Manager Hospital</td>
					<td>Address Hospital</td>
					<td>Image Hospital</td>
					<td>Sum Covid 19</td>
					<td>Cured</td>
					<td>Died</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let h of hospital" class="text-center my-auto py-auto">
					<td>{{h.nameHospital}}</td>
					<td>{{h.managerHospital}}</td>
					<td class="w-25">{{h.addressHospital}}</td>
					<td><img class="" [src]="h.imgHospital" alt="" width="50px"></td>
					<td>{{h.sumCovid19}}</td>
					<td>{{h.cured}}</td>
					<td class="text-danger">{{h.died}}</td>
					<td><button class="btn btn-success mr-1" (click)="editHopstlEvent(h)">Edit</button>|
						<button class="btn btn-danger" (click)="delHostlEvent(h)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>